* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #f3f8c8b2;
  position: relative;
}

:root {
  --gradient-position: : 0%;
}

.background {
  top: 0;
  left: -5%;
  width: 115%;
  height: 100%;
  background-image: url('./assets/logo.png');
  background-repeat: repeat;
  position: fixed;
  /* Asegúrate de que el fondo se repita */
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65%;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 1;
}


.content {
  position: relative;
  z-index: 2;
  /* Asegúrate de que esté encima del fondo y del ::after */
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.swal2-popup {
  background-color: #333333;
  color: white;
  border: 1px solid white;
  box-shadow: 4px 0px 20px 4px rgba(51, 51, 51, 0.5);
}

.swal2-title {
  font-family: 'Rock Salt, cursive', sans-serif;
  color: white
}



.my-swal-confirm-button {
  background-color: #0dcaf0;
  box-shadow: 0 4px 8px rgba(184, 184, 184, 0.5);

  /* Color de fondo del botón */
  color: #fff;
  /* Color del texto del botón */
}